@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dog walkr</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/logo_small.png" alt="logo" class="img-fluid" width="110" /></a>
                <div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse dropdown-hover">
                        <ul class="navbar-nav flex-grow-1">
                            @if (Context.Session.GetString("userId") == null)
                            {
                                <li class="nav-item px-3">
                                    <a class="nav-link text-dark link-navegacao" asp-area="" asp-controller="Usuario" asp-action="Entrar">Entrar</a>
                                </li>
                            }
                            else if (Context.Session.GetString("role") == "USUARIO")
                            {
                                <li class="nav-item px-3">
                                    <a class="nav-link text-dark link-navegacao" asp-area="" asp-controller="Passeador" asp-action="Procurar">Encontre</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link text-dark link-navegacao text-nowrap" asp-area="" asp-controller="Usuario" asp-action="ListarMatches">Meus matches</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link text-dark link-navegacao text-nowrap" asp-area="" asp-controller="Cachorro" asp-action="Listar">Meus cães</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link text-dark link-navegacao" asp-area="" asp-controller="Cachorro" asp-action="Cadastrar">Cadastre</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link text-dark link-navegacao text-nowrap" asp-area="" asp-controller="Usuario" asp-action="Editar">Meus dados</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link text-dark link-navegacao" asp-area="" asp-controller="Usuario" asp-action="Sair">Sair</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item px-3">
                                    <a class="nav-link text-dark link-navegacao" asp-area="" asp-controller="Cachorro" asp-action="Procurar">Encontre</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link text-dark link-navegacao text-nowrap" asp-area="" asp-controller="Passeador" asp-action="ListarMatches">Meus matches</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link text-dark link-navegacao text-nowrap" asp-area="" asp-controller="Passeador" asp-action="Editar">Meus dados</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link text-dark link-navegacao" asp-area="" asp-controller="Passeador" asp-action="Sair">Sair</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container w-100">
            <span class="footer-text">
                &copy; 2022 - projeto por Marcelo de Souza Camargo
            </span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
