@model UsuarioEditarViewModel

@{
    ViewData["Title"] = "Cadastro de usuário";
}

<div class="cadastro">
    <h2 class="pb-5 text-center">Cadastre um novo usuário</h2>
    <div class="form-cadastro">
        <form method="post" asp-action="Cadastrar">

            @if (ViewData["error"] != null)
            {
                <div class="alert alert-danger mb-4">@ViewData["error"]</div>
            }
    
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label">Nome:</label>
                        <input asp-for="Nome" type="text" class="form-control" placeholder="" /> 
                        <span asp-validation-for="Nome" class="text-danger text-nowrap"></span>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Nascimento" class="control-label">Data de nascimento:</label>
                        <input asp-for="Nascimento" type="date" class="form-control" /> 
                        <span asp-validation-for="Nascimento" class="text-danger text-nowrap"></span>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Login" class="control-label">Login:</label>
                        <input asp-for="Login" type="text" class="form-control" placeholder="" /> 
                        <span asp-validation-for="Login" class="text-danger text-nowrap"></span>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Senha" class="control-label">Senha:</label>
                        <input asp-for="Senha" type="password" class="form-control" /> 
                        <span asp-validation-for="Senha" class="text-danger text-nowrap"></span>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">E-mail:</label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="" /> 
                        <span asp-validation-for="Email" class="text-danger text-nowrap"></span>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Telefone" class="control-label">Telefone:</label>
                        <input asp-for="Telefone" type="tel" class="form-control" placeholder="" /> 
                        <span asp-validation-for="Telefone" class="text-danger text-nowrap"></span>
                    </div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label asp-for="Endereco" class="control-label">Endereço:</label>
                        <input asp-for="Endereco" type="text" class="form-control" placeholder="" /> 
                        <span asp-validation-for="Endereco" class="text-danger text-nowrap"></span>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Cep" class="control-label">CEP:</label>
                        <input asp-for="Cep" type="text" class="form-control" placeholder="" /> 
                        <span asp-validation-for="Cep" class="text-danger text-nowrap"></span>
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-between">
                <div class="col-md-7">
                    <div class="form-group">
                        <label asp-for="Cidade" class="control-label">Cidade:</label>
                        <input asp-for="Cidade" type="text" class="form-control" placeholder="" /> 
                        <span asp-validation-for="Cidade" class="text-danger text-nowrap"></span>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label">Estado:</label>
                        <input asp-for="Estado" type="text" class="form-control" placeholder="" /> 
                        <span asp-validation-for="Estado" class="text-danger text-nowrap"></span>
                    </div>
                </div>
            </div>
            
            <div class="text-center">
                <input type="submit" class="btn btn-primary mt-4" value="Criar novo usuário" />
            </div>
    
        </form>
    </div>
</div>
